#assignment-instructions {
  font-family: sans-serif;
  color: crimson;
}

.green {
  color: green;
}

code {
  font-family: monospace;
  color: red;
}

body {
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

li + li {
  background: black;
  color: white;
}

/* li:not(:first-child) {
  background: black;
  color: white;
} */

ol li {
  background: black;
  color: white;
}